@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*CSS geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255,150,209);
    background: linear-gradient(180deg, rgba(255,150,209,1) 0%, rgba(255,255,255,1) 100%);
}

#container1{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
}

#container2{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255);
}

/*Class para ocultar menu*/
.hide{
    display: none !important;
}

/*CSS perfil*/
.perfilContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CSS menu de contatos*/
.contactContainer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0px;
}

.contactContainer li{
    border: 1px solid rgb(107, 106, 106);
    padding: 5px 20px;
    border-radius: 10px;
    opacity: 0.7;
}

li:hover{
    opacity: 1;
    background-color: pink;
}

/*CSS lista de serviços*/
.listServis{
    border: 1px solid rgb(75, 74, 74);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 15px;
}

.serv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px;
}